# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: autoCheckin-Batch

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: 0 23 * * *
  workflow_dispatch:
    
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: init
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: run
      env:
        websites: ${{ secrets.SITE }} 
        user_list: ${{ secrets.USERS }} 
        pwd_list: ${{ secrets.PWD }} 
      run: |
        python3 checkin.py
